body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ===========================  */

/* ============HEADER===============  */

.header {
  background-color: #fff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.menu {
  max-width: 320px;
  height: 100vh;
  padding: 72px 24px 40px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  width: 24px;
  height: 24px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.menu-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item:focus,
.menu-item:hover {
  color: #404bbf;
}

.menu-containet-contacts {
}

.contacts-menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contacts-menu-link {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-style: normal;
  color: #434455;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-menu-link:hover,
.contacts-menu-link:focus {
  color: #4d5ae5;
}

.menu-list-icons {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.header-container {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-black {
  color: #2e2f42;
}

.navigation-list {
  display: none;
  gap: 40px;
}

.navigation-item {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding: 24px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item-studio {
  color: #404bbf;
}

.navigation-item:hover,
.navigation-item:focus {
  color: #404bbf;
}

.item-studio::after {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.contacts {
  display: none;
  font-style: normal;
  margin-left: auto;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-linl:focus {
  color: #404bbf;
}

.open-menu-btn {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  line-height: 0;
  border: none;
}

/* ===========================  */

/* ============HERO===============  */

.hero {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 72px;
  padding-bottom: 72px;
  text-align: center;
  margin: 0 auto;
}

.title {
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 216px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.hero-btn {
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* ===========================  */

/* ===========FEATURE================  */

.feature {
  background-color: #fff;
  flex-shrink: 0;
  padding-top: 96px;
  padding-bottom: 96px;
}

.feature-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.feature-list-item {
  width: 100%;
}

.icon-container {
  display: none;
}

.feature-list-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 8px;
}

.feature-list-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ===========================  */

/* ===========PORTFOLIO================  */

.portfolio {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
  flex-shrink: 0;
}

.portfolio > .container {
  width: 296px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.portfolio-list-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  background-color: #fff;
  width: 100%;
}
.portfolio-list-container {
  padding: 32px 0;
}

.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list-subtitle {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-list-text {
  color: #434455;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-list-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.item-social-media {
  width: 40px;
  height: 40px;
}

.social-media-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: #404bbf;
}

.icon-social-media {
  fill: #f4f4fd;
}

/* ===========================  */

/* ===========OUR-PORTFOLIO================  */

.our-portfolio {
  background-color: #fff;
  padding-top: 96px;
  padding-bottom: 96px;
  flex-shrink: 0;
}

.our-portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
}

.our-portfolio-item {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-item:hover,
.our-portfolio-item:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.our-portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.our-portfolio-overlay {
  position: absolute;
  top: 0;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-overlay-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.our-portfolio-item:hover .our-portfolio-overlay {
  transform: translateY(0%);
}

.our-portfolio-container {
  padding: 32px 16px;
  gap: 8px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.our-portfolio-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.our-portfolio-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ===========================  */

/* ==========FOOTER=================  */

.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #2e2f42;
}

.container-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 72px;
}

.footer-container-info {
  text-align: center;
}

.logo-white {
  color: #f4f4fd;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-footer {
  margin-bottom: 16px;
  display: inline-block;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  text-align: start;
}

.social-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-list-icons {
  gap: 16px;
}

.footer-social-link {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:focus,
.footer-social-link:hover {
  background-color: #31d0aa;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  /* gap: 24px; */
}

.footer-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-form-input {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  padding-left: 16px;
  background-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  opacity: 0.3;
}

.footer-form-input::placeholder {
  color: #ffffff;
}

.footer-form-input:focus,
.footer-form-input:hover {
  border: 1px solid #4d5ae5;
}

.footer-button-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  color: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 165px;
  height: 40px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button-subscribe:hover,
.footer-button-subscribe:focus {
  background-color: #404bbf;
}

.footer-icon-send {
  margin-left: 16px;
  fill: #ffffff;
}

/* ===========================  */

/* ===========BACKDROP================  */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-width: 288px;
  min-height: 623px;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  cursor: pointer;
  width: 24px;
  height: 24px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-close:hover,
.modal-button-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-button-close:hover > .modal-close-icon,
.modal-button-close:focus > .modal-close-icon {
  fill: #fff;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-field {
  margin-bottom: 8px;
  width: 100%;
}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
}

.modal-form-wrap {
  position: relative;
}

.modal-form-input {
  background-color: transparent;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* width: 360px; */
  width: 100%;
  height: 40px;
}

.modal-form-input:focus,
.modal-form-input:hover {
  border: 1px solid #4d5ae5;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-icon,
.modal-form-input:hover + .modal-icon {
  fill: #4d5ae5;
}

.modal-field-textarea {
  margin-bottom: 16px;
  width: 100%;
}

.modal-form-textarea {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  width: 100%;
  height: 120px;
  background-color: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea:focus,
.modal-form-textarea:hover {
  border: 1px solid #4d5ae5;
}

.modal-form-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-field-checkbox {
  width: 100%;
  margin-bottom: 24px;
}

.form-label-checkbox {
  color: #8e8f99;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-checkbox-span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox-input:checked + .form-label-checkbox .modal-checkbox-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.policy-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.modal-button {
  padding: 16px 32px;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
}

/* ===========================  */

/* ===========MEDIA================  */

@media screen and (min-width: 768px) {
  /* --------Header---------- */
  .container {
    max-width: 768px;
  }

  .header-container {
    display: flex;
    flex-shrink: 0;
  }

  .logo {
    margin-right: 120px;
  }

  .navigation-list {
    display: flex;
  }

  .contacts {
    display: flex;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .open-menu-btn {
    display: none;
  }

  /* --------Hero---------- */

  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .title {
    max-width: 496px;
    margin-bottom: 36px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    font-size: 56px;
  }

  /* --------Feature---------- */

  .feature-list {
    row-gap: 72px;
    column-gap: 24px;
  }

  .feature-list-item {
    width: calc((100% - 24px) / 2);
  }

  /* --------Portfolio---------- */

  .portfolio > .container {
    width: 584px;
  }

  .portfolio-list {
    gap: 24px;
  }

  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }

  /* --------Our-Portfolio---------- */

  .our-portfolio-list {
    column-gap: 24px;
  }

  .our-portfolio-item {
    width: calc((100% - 24px) / 2);
  }

  /* --------Footer---------- */

  .footer {
    padding-left: 92px;
  }

  .container-logo {
    width: 100%;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .footer-container-info {
    text-align: start;
  }

  .social-subtitle {
    text-align: start;
  }

  .footer-form {
    flex-direction: row;
    align-items: start;
    gap: 24px;
  }

  .footer-form-container {
    align-items: start;
  }

  /* --------Backdrop---------- */

  .modal {
    max-width: 408px;
    min-height: 584px;
  }
}

@media screen and (min-width: 1158px) {
  /* --------Header---------- */

  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .logo {
    margin-right: 76px;
  }

  .contacts-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  /* --------Hero---------- */

  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .title {
    margin-bottom: 48px;
  }

  /* --------Feature---------- */

  .feature {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .feature-list {
    gap: 24px;
  }

  .feature-list-item {
    width: calc((100% - 72px) / 4);
  }

  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }

  .feature-list-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  /* --------Portfolio---------- */

  .portfolio > .container {
    width: 1158px;
  }

  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-list-item {
    width: calc((100% - 72px) / 4);
  }

  /* --------Our-Portfolio---------- */

  .our-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .our-portfolio-item {
    width: calc((100% - 48px) / 3);
  }

  /* --------Footer---------- */

  .footer {
    padding: 100px 0;
  }

  .container-logo {
    flex-wrap: nowrap;
    gap: 0;
    width: 100%;
  }

  .container-logo > .footer-container-info {
    margin-right: 120px;
  }

  .footer-container-social {
    margin-right: 80px;
  }

  /* --------Backdrop---------- */
}

/* ===========================  */
